[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -T 1 -d /dev/fb0 --noverbose -a /boot/orbisbox_images/splash_HD3.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
